{% extends 'base.html' %}
{% block title %}Add Books{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Add Book</h1>
        <hr class="my-4">
    </div>

    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Book's Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" name="name" placeholder="Book's Name" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="author" class="col-sm-3 col-form-label">Author's Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="author" name="author" placeholder="Author's Name" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="genre" class="col-sm-3 col-form-label">Genre</label>
            <div class="col-sm-9">
                <select class="form-control" name="genre" id="genre" required>
                    <option value="" selected>----- Choose a Genre -----</option>
                    <option value="Horror">Horror</option>
                    <option value="Romance">Romance</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Satire">Satire</option>
                    <option value="Self Help">Self Help</option>
                    <option value="Health">Health</option>
                    <option value="Guide">Guide</option>
                    <option value="Travel">Travel</option>
                    <option value="Science">Science</option>
                    <option value="Math">Math</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Biography">Biography</option>
                    <option value="Children">Children's</option>
                    <option value="Religion, Spirituality & New Age">Religion, Spirituality & New Age</option>
                    <option value="Action and Adventure">Action and Adventure</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="date" class="col-sm-3 col-form-label">Date Completed</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="date" name="date" placeholder="Date Completed">
            </div>
        </div>

        <div class="form-group row">
            <label for="rate" class="col-sm-3 col-form-label">Rate the book</label>
            <div class="col-sm-9">
                <select class="form-control" name="rate" id="rate" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="comment" class="col-sm-3 col-form-label">Comment</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="comment" name="comment"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}