{% extends 'base.html' %}
{% block title %}Bookshelf{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Bookshelf</h1>
        <hr class="my-4">
    </div>

    <div class="table-responsive">
        <table id="bookshelf" class="table table-striped" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Book</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Rating</th>
                <th>Read Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.rating }}</td>
                    <td>{{ book.read_date|date:"F d, Y" }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fas fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" style="padding: 5px">
                                <li>
                                    <a href="{% url 'edit_book' pk=book.pk %}">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'delete_book' pk=book.pk %}" class="delete-link">
                                        <i class="fas fa-trash-alt" aria-hidden="true"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#bookshelf').DataTable();
        });

    </script>
{% endblock %}