{% extends 'base.html' %}
{% block title %}Edit Book{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Edit Book</h1>
        <hr class="my-4">
    </div>

    <form action="{% url 'edit_book' pk=book.pk %}" method="post">
        {% csrf_token %}

        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Book's Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" name="name" placeholder="Book's Name"
                       {% if book.name %}value="{{ book.name }}" {% endif %}required>
            </div>
        </div>

        <div class="form-group row">
            <label for="author" class="col-sm-3 col-form-label">Author's Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="author" name="author" placeholder="Author's Name"
                       {% if book.author %}value="{{ book.author }}" {% endif %} required>
            </div>
        </div>

        <div class="form-group row">
            <label for="genre" class="col-sm-3 col-form-label">Genre</label>
            <div class="col-sm-9">
                <select class="form-control" name="genre" id="genre" required>
                    <option value="" {% if not book.genre %}selected{% endif %}>----- Choose a Genre -----</option>
                    <option value="Horror" {% if book.genre == 'Horror' %}selected{% endif %}>Horror</option>
                    <option value="Romance" {% if book.genre == 'Romance' %}selected{% endif %}>Romance</option>
                    <option value="Thriller" {% if book.genre == 'Thriller' %}selected{% endif %}>Thriller</option>
                    <option value="Mystery" {% if book.genre == 'Mystery' %}selected{% endif %}>Mystery</option>
                    <option value="Drama" {% if book.genre == 'Drama' %}selected{% endif %}>Drama</option>
                    <option value="Fantasy" {% if book.genre == 'Fantasy' %}selected{% endif %}>Fantasy</option>
                    <option value="Science Fiction" {% if book.genre == 'Science Fiction' %}selected{% endif %}>Science
                        Fiction
                    </option>
                    <option value="Satire" {% if book.genre == 'Satire' %}selected{% endif %}>Satire</option>
                    <option value="Self Help" {% if book.genre == 'Self Help' %}selected{% endif %}>Self Help</option>
                    <option value="Health" {% if book.genre == 'Health' %}selected{% endif %}>Health</option>
                    <option value="Guide" {% if book.genre == 'Guide' %}selected{% endif %}>Guide</option>
                    <option value="Travel" {% if book.genre == 'Travel' %}selected{% endif %}>Travel</option>
                    <option value="Science" {% if book.genre == 'Science' %}selected{% endif %}>Science</option>
                    <option value="Math" {% if book.genre == 'Math' %}selected{% endif %}>Math</option>
                    <option value="Computer Science" {% if book.genre == 'Computer Science' %}selected{% endif %}>
                        Computer Science
                    </option>
                    <option value="Biography" {% if book.genre == 'Biography' %}selected{% endif %}>Biography</option>
                    <option value="Children" {% if book.genre == 'Children' %}selected{% endif %}>Children's</option>
                    <option value="Religion, Spirituality & New Age"
                            {% if book.genre == 'Religion, Spirituality & New Age' %}selected{% endif %}>Religion,
                        Spirituality & New Age
                    </option>
                    <option value="Action and Adventure"
                            {% if book.genre == 'Action and Adventure' %}selected{% endif %}>Action and Adventure
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="date" class="col-sm-3 col-form-label">Date Completed</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="date" name="date" placeholder="Date Completed"
                       {% if book.read_date %}value="{{ book.read_date|date:'Y-m-d' }}" {% endif %}>
            </div>
        </div>

        <div class="form-group row">
            <label for="rate" class="col-sm-3 col-form-label">Rate the book</label>
            <div class="col-sm-9">
                <select class="form-control" name="rate" id="rate" required>
                    <option value="1" {% if book.rating == 1 %}selected{% endif %}>1</option>
                    <option value="2" {% if book.rating == 2 %}selected{% endif %}>2</option>
                    <option value="3" {% if book.rating == 3 %}selected{% endif %}>3</option>
                    <option value="4" {% if book.rating == 4 %}selected{% endif %}>4</option>
                    <option value="5" {% if book.rating == 5 %}selected{% endif %}>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="comment" class="col-sm-3 col-form-label">Comment</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="comment" name="comment">{% if book.comment %}
                    {{ book.comment }}{% endif %}</textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}