{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Home</h1>
        <hr class="my-4">
        <p class="lead">Track the books you've read recently.</p>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4 class="google">Search and add books to your bookshelf</h4>
            <form method="post" id="queryForm" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search books..."
                           aria-describedby="basic-addon2" name="query" id="query" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary api-button" type="submit"><i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

    <h3 id="result"></h3>
    <div class="ajax-loader"></div>

    <div class="result-data">
        <table class="table table-responsive table-hover result-table">
            <thead class="thead-inverse">
            <th>Name</th>
            <th>Cover</th>
            <th>Description</th>
            </thead>
            <tbody id="myTable"></tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script>
        var api = {% url 'api_add' %};
        var frm = $('#queryForm');
        var TableItem = "";
        frm.submit(function () {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                beforeSend: function () {
                    $('.ajax-loader').append("<i class=\"fas fa-spinner fa-spin aloader\"></i>");
                    TableItem = "";
                    $('.api-button').attr("disabled", true);
                },
                success: function (data) {
                    $("#result").text("Search Results");
                    r = data['items'];
                    for (i = 0; i < 10; i++) {
                        final = r[i];
                        if (final['volumeInfo']['title']) {
                            title = final['volumeInfo']['title'];
                        }
                        else {
                            title = "N/A"
                        }
                        if (final['volumeInfo']['authors']) {
                            author = final['volumeInfo']['authors'][0];
                        }
                        else {
                            author = "N/A"
                        }
                        if (final['volumeInfo']['imageLinks']) {
                            image = final['volumeInfo']['imageLinks']['smallThumbnail'];
                        }
                        else {
                            image = "N/A"
                        }
                        if (final['volumeInfo']['categories']) {
                            genre = final['volumeInfo']['categories'][0];
                        }
                        else {
                            genre = "N/A"
                        }
                        if (final['volumeInfo']['infoLink']) {
                            link = final['volumeInfo']['infoLink'];
                        }
                        else {
                            link = "#"
                        }
                        if (final['searchInfo']) {
                            desc = final['searchInfo']['textSnippet'] + '&nbsp;<a href=\"' + link + '\"> See More</a>';
                        }
                        else {
                            desc = "No description"
                        }


                        $('.result-data').css("visibility", "visible");
                        TableItem += '<tr>' +
                            '<td><b>' + title + '</b><br><br><hr><em>' + author + '</em><br><br><form method=\"post\" action=\"' + api + '\"><input type=\"hidden\" name="title" value=\"' + title + '\">' +
                            '<input type=\"hidden\" name=\"author\" value=\"' + author + '\"><input type=\"hidden\" name=\"genre\" value=\"' + genre + '\"><button class=\"btn btn-sm btn-outline-secondary\" type=\"submit\">Add to bookshelf</button></form>' + '</td>' +
                            '<td>' + '<img class=\"image-result\" src=\"' + image + "\" alt=\"Image not available\" class=\"col-md-3\" height=\"400\" width=\"250\">" + '</td>' +
                            '<td>' + desc + '</td>' +
                            +'</tr>';
                        $('#myTable').html(TableItem);


                        $('.ajax-loader').remove();
                    }
                },
                complete: function () {
                    $('.ajax-loader').remove();
                    $('.api-button').attr("disabled", false);
                }
            });
            return false;
        });
    </script>
{% endblock %}
