{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Book Track</h1>
        <p class="lead">Easily track and manage the books you have recently read.</p>
        <hr class="my-4">
        <p>Just join us today!</p>
    </div>

    <a href="{% url 'login' %}" class="btn btn-primary btn-lg" role="button">Login</a>
    <a href="{% url 'signup' %}" class="btn btn-info btn-lg" role="button">Signup</a>

{% endblock %}