{% extends 'base.html' %}
{% block title %}Trends{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Trends</h1>
        <hr class="my-4">
        <p class="lead">Your reading trends</p>
    </div>

    {% if error %}
        <h2>Start reading books to see your trends!</h2>
    {% else %}
        <div class="genre">
            <h3>Trend by Genre</h3>
            <canvas id="genreChart" width="400" height="200"></canvas>
        </div>

        <div class="author">
            <h3>Trend by Author</h3>
            <canvas id="authorChart" width="400" height="200"></canvas>
        </div>

        <div class="rate">
            <h3>Trend by Ratings</h3>
            <canvas id="rateChart" width="400" height="200"></canvas>
        </div>
    {% endif %}

{% endblock %}

{% block script %}
    <script>
        var genre = {{ genre|safe }};
        var genre_count = {{ genre_count }};

        var author = {{ author|safe }};
        var author_count = {{ author_count }};

        var rate = {{ rate|safe }};
        var rate_count = {{ rate_count }};

        var dynamicColors = function () {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            var a = Math.random();
            return "rgba(" + r + "," + g + "," + b + "," + a + ")";
        };

        var getDynamicColors = function (counter) {
            colors = [];
            for (i = 0; i < counter.length; i++) {
                color = dynamicColors();
                colors.push(color);
            }
        };

        var genres = document.getElementById("genreChart").getContext('2d');
        getDynamicColors(genre);
        var genreChart = new Chart(genres, {
            type: 'bar',
            data: {
                labels: genre,
                datasets: [{
                    label: '# of Books in the genre',
                    data: genre_count,
                    backgroundColor: colors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var authors = document.getElementById("authorChart").getContext('2d');
        getDynamicColors(author);
        var authorChart = new Chart(authors, {
            type: 'bar',
            data: {
                labels: author,
                datasets: [{
                    label: '# of Books by Author',
                    data: author_count,
                    backgroundColor: colors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var rates = document.getElementById("rateChart").getContext('2d');
        getDynamicColors(rate);
        var rateChart = new Chart(rates, {
            type: 'bar',
            data: {
                labels: rate,
                datasets: [{
                    label: '# of Ratings',
                    data: rate_count,
                    backgroundColor: colors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}