{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">THIS IS 404!</h1>
        <p class="lead">Whatever you're looking for this isn't it.</p>
        <hr class="my-4">
        <p>Why don't we go back to the <b><a {% if user.is_authenticated %}href="{% url 'home' %}"
                                             {% else %}href="{% url 'index' %}"{% endif %}>home</a></b> page?</p>
    </div>
{% endblock %}