{% if messages %}
    <div id="messages">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="alert-icon"><i class="fa fa-check" aria-hidden="true"></i><strong> Success!</strong>
                    </div>
                    <div class="alert-text">

                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="alert-icon"><i class="fa fa-ban" aria-hidden="true"></i><strong> Error!</strong></div>
                    <div class="alert-text">
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="alert-icon"><i class="fa fa-warning" aria-hidden="true"></i> <strong> Warning!</strong>
                    </div>
                    <div class="alert-text">
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="alert-icon"><i class="fa fa-info" aria-hidden="true"></i><strong> Info!</strong></div>
                    <div class="alert-text">
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}



