.bigbrand {
    font-size: 2em;
}

.author, .genre, .rate {
    margin: 10px;
    padding: 10px;
}

.result-data {
    visibility: hidden;
    height: 400px;
    margin-top: 30px;
    padding: 10px;
}

.aloader {
    font-size: 100px;
    color: cornflowerblue;
    position: relative;
    left: 50%;
}

.image-result {
    margin-top: 10px;
    margin-bottom: 10px;
}

.result-table, th, tr, td {
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

th {
    text-align: center;
}

#result {
    margin-top: 20px;
}

.google {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#messages {
    position: fixed;
    z-index: 9999;
    bottom: 30px;
    right: 30px;
    opacity: 1;
    width: 400px;
}

