{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Login</h1>
        <hr class="my-4">
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="">
                            <div class="alert alert-danger {{ message.tags }}" role="alert"><i
                                    class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message }}</div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                           required>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}

