{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Signup</h1>
        <hr class="my-4">
    </div>

    <form action="{% url 'signup' %}" method="post" id="signup">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="text" class="form-control" id="fname" name="fname"
                       placeholder="First Name" required>
            </div>

            <div class="col-sm-6">
                <input type="text" class="form-control" id="lname" name="lname"
                       placeholder="Last Name" required>
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <select class="form-control" name="gender" id="gender" required>
                <option value="" selected>---- Select Gender ----</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Password" required>
            </div>

            <div class="col-sm-6">
                <input type="password" class="form-control" id="rpassword" name="rpassword"
                       placeholder="Repeat Password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            jQuery.validator.addMethod("lettersonly", function (value, element) {
                return this.optional(element) || /^[a-z\s]+$/i.test(value);
            }, "Only alphabetical characters");
        });

        $("#signup").validate({
            onfocusout: function (element) {
                $(element).valid();
            },
            rules: {
                fname: {
                    required: true,
                    maxlength: 50,
                    lettersonly: true
                },
                lname: {
                    required: true,
                    maxlength: 50,
                    lettersonly: true
                },
                email: {
                    required: true,
                    email: true,
                    maxlength: 50
                },
                gender: {
                    required: true
                },
                password: {
                    required: true,
                    minlength: 8
                },
                rpassword: {
                    required: true,
                    equalTo: "#password"
                }
            },
            errorElement: 'div',
            errorClass: 'help-block',
            highlight: function (element, errorClass, validClass) {
                $(element).parent().addClass("has-error").css('color', 'red');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parent().removeClass("has-error");
            }
        });
    </script>
{% endblock %}

